
.allappointment-target{
    width: 70%;
    
}
.allappointment-frame{
    width: 100%;
    
}


.allappointment-box{
    display: flex;
    background: cyan;
    margin: 1rem;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row wrap;
}

.allappointment-field{
    margin: 1rem;
}