.button{
    width: 6rem;
    padding:.5rem 0;
    background: rgba(31, 41, 192);
    outline: none;
    border: 1px solid transparent;
    border-radius: 7px;
    font-size: 2rem;
    transition: all .3s ease-in-out;
    box-shadow: .3rem 1rem 0 rgba(17, 17, 17, 0.548);
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
}

.form{
    border: 1px solid #111;
}