.databoxps-box{

    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    margin: 1rem auto;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
.databoxsp-h2{
    margin: 1rem 0;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.databoxps-spn{
    font-size: 1.1rem;
    padding-left:  1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.databoxps-label{
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 2rem;
    
}
.dbr-box-detail-field-big{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin: 0 1rem ;
}
.databoxps-p{
    font-size: 1.1rem;
    padding: 1rem;
    max-width: 100%;
}