.logo {
    margin-top: 70px;
    width: 100%;
    text-align: center;
  }
  .logo img {
    width: 30%;
  }
  .logo p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #0a3877;
  }

  @media (max-width:992px){
    .logo{
      display: none;
    }
  }