
header .header-items .menu ul {
    padding: 0;
    padding-right: 1rem;
    margin: 0;
    list-style: none;
  }
  header .header-items .menu ul li {
    display: inline-flex;
    margin-left: 10px;
  }
  .list-item-link span  {
    font-size: 17px;
    font-weight: 500;
    padding: 5px 8px;
    display: inline-flex;
    border-radius: 10px;
    color: inherit;
  }
  header .header-items .menu ul li a svg {
    margin-left: 10px;
    font-size: 18px;
  }
  header .header-items .menu ul li a:hover {
    background: #cbcbcb;
  }
  header .header-items .menu ul li:last-child {
    margin-left: 0;
  }


  @media (max-width: 992px){

    .list{
      display: none;
    }
    .list-item{
      display: none;
    }
    .list-item-link{
      display: none;
    }
  }